{% extends "layouts/app.jinja2" %}

{% block title %}Revisar carro de compras antes de la operacion bancaria{% endblock %}

{% block content %}
    <div>
        <h2>Revisar carro de compras antes de la operacion bancaria</h2>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
