{% extends "layouts/app.jinja2" %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Revise cuidadosamente antes de pagar{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Revise cuidadosamente antes de pagar</h2>
        </div>
        <div class="card-body">
            <p>Al dar clic en el botón Continuar será redirigido al banco</p>
            {% set form_kwargs = {'pag_pago_id_hasheado': pag_pago_id_hasheado} %}
            {% call f.form_tag('carros.revisar', fid='carros_revisar', **form_kwargs) %}
                {% call f.form_group(form.descripcion) %}{% endcall %}
                {% call f.form_group(form.email) %}{% endcall %}
                {% call f.form_group(form.total) %}{% endcall %}
                {% call f.form_group(form.continuar) %}{% endcall %}
            {% endcall %}
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
