{% extends "layouts/app.jinja2" %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Revise cuidadosamente antes de pagar{% endblock %}

{% block content %}
    <div class="row m-5 justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Revise cuidadosamente antes de pagar</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Distrito</label>
                            <input type="text" readonly value="{{ distrito_nombre }}" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Juzgado u oficina</label>
                            <input type="text" readonly value="{{ autoridad_descripcion }}" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Cantidad</label>
                            <input type="text" readonly value="{{ cantidad }}" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Trámite o servicio</label>
                            <input type="text" readonly value="{{ pag_tramite_servicio_descripcion }}" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Descripción</label>
                            <input type="text" readonly value="{{ descripcion }}" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Total a pagar</label>
                            <input type="text" readonly value="$ {{'%0.2f'|format(total|float)}}" class="form-control">
                        </div>
                    </div>
                    <br>
                    {% if url != '' %}
                        <div class="row">
                            <p class="observacion">Al dar clic en el botón Continuar se mostrará una ventana emergente del Banco. Hasta terminar la operación la debe de cerrar para concluir aquí.</p>
                            <div class="col-md-12 text-center">
                                <a class="btn btn-azul" data-bs-toggle="modal" data-bs-target="#bancoModal">Continuar</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal del banco -->
    <div class="modal fade" id="bancoModal" tabindex="-1" aria-labelledby="bancoModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="consultarTransaccion()"></button>
                </div>
                <div class="modal-body">
                    <iframe src="{{ url }}" width="450" height="600"></iframe>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        function consultarTransaccion(){
            window.location.href = 'https://pagos.justiciadigital.gob.mx/carro/{{ id_hasheado }}' ;
        }
    </script>
{% endblock %}
