{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Ingresar datos personales{% endblock %}

{% block content %}
    <div class="row justify-content-md-center m-5">
        <div class="col-12 col-md-8">
            <div class="card mb-5">
                <div class="card-header text-center">
                    <img src="https://storage.googleapis.com/pjecz-informatica/static/images/pagos-carro.png">
                </div>
                <div class="card-body">
                    <div class="col-md-12 tramite p-2 rounded">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">{{ tramite_servicio_descripcion }}</h4>
                            </div>
                        </div>
                        {% if descripcion %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">{{ descripcion }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-4">
                                Cantidad:
                            </div>
                            <div class="col-md-8">
                                <strong>{{ cantidad }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Total a pagar:
                            </div>
                            <div class="col-md-8">
                                $ {{ '%0.2f'|format(total|float) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Juzgado u oficina:
                            </div>
                            <div class="col-md-8">
                                <strong>{{ autoridad_descripcion }}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Distrito:
                            </div>
                            <div class="col-md-8">
                                <strong>{{ distrito_nombre }}</strong>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h5>Registre sus datos para realizar el pago</h5>
                    {% call f.form_tag('carros.ingresar', fid='carros_ingresar') %}
                        <div class="row">
                            <div class="col-md-4">
                                {% call f.form_group(form.nombres) %}{% endcall %}
                            </div>
                            <div class="col-md-4">
                                {% call f.form_group(form.apellido_primero) %}{% endcall %}
                            </div>
                            <div class="col-md-4">
                                {% call f.form_group(form.apellido_segundo) %}{% endcall %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                               {% call f.form_group(form.curp) %}{% endcall %}
                            </div>
                            <div class="col-md-6">
                                {% call f.form_group(form.telefono) %}{% endcall %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% call f.form_group(form.email) %}{% endcall %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% call f.form_group(form.recaptcha) %}{% endcall %}
                            </div>
                        </div>
                        {% call f.form_group(form.aceptar) %}{% endcall %}
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% call f.form_group(form.continuar) %}{% endcall %}
                            </div>
                        </div>
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
    <!-- reCaptcha Integration -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock %}
