.bashrc
.directory
.env
.gcloudignore
.gitignore
.DS_Store
.~lock.*

*.py[cod]
*.log
*.sqlite3
*.sqlite3-journal
*.session.sql
*.xls
*.xlsx
*.XLS
*.XLSX

__pycache__/
/.git
/.github
/.idea
/.venv
/.vscode
/poetry.lock
/tests
/venv
