{% extends "layouts/app.jinja2" %}

{% block content %}

    <div class="card  my-5">
        <div class="card-header p-4">
            <h3>Aviso de Privacidad de Poder en Línea.</h3>
        </div>
        <div class="card-body p-5">
        
            En los términos de lo dispuesto por los artículos 16, 20, 21 y 22 de la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados del Estado de Coahuila, se emite el actual aviso de privacidad simplificado, en los siguientes términos:<br>
            <br>
            <b>Las finalidades del tratamiento para las cuales se obtienen sus datos personales.</b><br>
            <br>
            La Plataforma Poder en Línea (en adelante PPEL), recaba datos personales de los usuarios con el fin de brindar los servicios siguientes: a) envió de Demandas, b) envió de Promociones, c) citas en órganos jurisdiccionales para revisión de expedientes, tramitación de oficios, edictos y exhortos, d) citas con actuarios y actuarias (civiles y familiares únicamente), e) citas con el juzgador o juzgadora, f) citas para expedición de copias simples o certificadas, g) citas para devolución de documentos, h) citas para entrega de cheques y certificados de depósitos, i) Acceso a la versión digital de los expedientes mediante previa autorización, j) Tramitación en línea de boletas de gestión actuarial para impulsar diligencias y h) los demás que estén disponibles por parte de las autoridades en beneficio de la ciudadanía.<br>
            <br>
            Razón por la cual los datos personales únicamente serán utilizados en el momento en el que se brinden los servicios mencionados.<br>
            <br>
            <b>Transferencias de datos personales.</b><br>
            <br>
            Sus datos personales no podrán ser difundidos o transmitidos a terceros o al público en general, salvo que: a) medie su consentimiento expreso; b) por disposición legal; o c) por ser indispensable para el ejercicio de alguna atribución por parte de esta u otra autoridad competente, incluyendo cualquier otro órgano jurisdiccional o área del Poder Judicial, en términos de los artículos 16 y 72 de la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados del Estado de Coahuila.<br>
            <br>
            <b>Mecanismos y medios disponibles para manifestar la negativa para el tratamiento de sus datos personales para finalidades y transferencias de datos personales.</b><br>
            <br>
            Usted por su propia cuenta o por medio de su representante, podrán solicitar el acceso, rectificación, cancelación u oposición al tratamiento de sus datos personales, conocidos como derechos ARCO. Para lo anterior, deberá comparecer personalmente o presentar la solicitud respectiva, por escrito, ante la Unidad de Atención a las Solicitudes de Acceso a la Información de la Secretaría Técnica y de Transparencia de la Presidencia del Tribunal Superior de Justicia del Estado. ubicada en Blvd. Venustiano Carranza número 2673, Colonia Santiago, en Saltillo, Coahuila de Zaragoza en un horario de atención de 8:30 a 16:30 horas de lunes a viernes.<br>
            <br>
            El teléfono de contacto de la Unidad de Atención a las Solicitudes de Acceso a la Información Pública de la Secretaría Técnica y de Transparencia de la Presidencia del Tribunal Superior de Justicia del Estado, para cualquier duda, es el siguiente: 844 438 09 80 ext. 6808, el cual será atendido en un horario de lunes a viernes de 08:30 a 16:30 horas.<br>
            <br>
            <b>El sitio donde se podrá consultar el Aviso de Privacidad Integral.</b><br>
            <br>
            El Aviso de Privacidad Integral estará a su disposición en la página de internet siguiente: https://www.pjecz.gob.mx/consultas/poder-en-linea/aviso-de-privacidad.html<br>
            <br>
        </div>
    </div>

{% endblock %}

{% block custom_javascript %}
{% endblock %}
