{% extends "layouts/app.jinja2" %}

{% block content %}
    <div class="card my-5">
        <div class="card-header p-4">
            <h3>Preguntas frecuentes</h3>
        </div>
        <div class="card-body p-5">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-azul float-end m-3" onclick="history.back();" >Regresar</button>
                </div>
            </div>
            <h4>¿Qué es el Portal de Pagos?</h4>
            <p>El Portal de pagos es el nuevo sistema en el cual se pueden realizar los pagos de servicios que ofrece el PJECZ de manera segura y a distancia con la comodidad de la banca electrónica.</p>
            <h4>¿Qué tipo de servicios puedo pagar a través del Portal de Pagos?</h4>
            <p>Los listados en la página <a href="https://www.pjecz.gob.mx/tramites-y-servicios/" target="_blank">Trámites y Servicios</a> del sitio web. Para cada uno hay una página con la descripción detallada y un formulario para elegir el juzgado u oficina así como la cantidad.</p>
            <h4>¿Puedo pagar varios servicios a través del Portal de Pagos?</h4>
            <p>No hay restricciones en la cantidad de servicios individuales que puedes pagar a través del Portal de pagos. Sin embargo, ten en cuenta que deberás procesar cada servicio de forma individual.</p>
            <h4>¿Debo registrarme previamente para usar el Portal de Pagos?</h4>
            <p>No.</p>
            <h4>¿Qué información debo proporcionar para hacer un pago a través del Portal de Pago?</h4>
            <p>Para realizar un pago, necesitarás lo siguiente:</p>
            <ul>
                <li>Elegir el trámite o servicio a través del sitio web</li>
                <li>Elegir el juzgado u oficina donde lo solicitarás</li>
                <li>Nombre completo</li>
                <li>CURP</li>
                <li>Teléfono celular</li>
                <li>Correo electrónico</li>
                <li>Tarjeta de débito o crédito</li>
            </ul>
            <h4>¿Puedo revisar el pago antes de que se me cobre?</h4>
            <p>Si. Podrás revisar la información antes de realizar el pago. Ten en cuenta que toda la información que proporciones no puede cambiar al término del proceso.</p>
            <h4>¿Recibiré una confirmación de pago?</h4>
            <p>Se enviará un mensaje vía correo electrónico de la institución bancaria con los datos de cobro. También el Portal de Pagos enviará un mensaje como comprobante de pago con un código QR. Muestre este mensaje impreso o desde su teléfono inteligente para que el personal del PJECZ valide su operación.</p>
            <h4>¿Cuánto tiempo debo esperar para ver el pago reflejado?</h4>
            <p>Los pagos que se realizan a través del Portal de Pagos se aplican inmediatamente.</p>
            <h4>¿Qué puede causar que mi pago sea declinado?</h4>
            <p>Verifica que cuentes con el saldo suficiente o que tu tarjeta se encuentre habilitada para realizar compras en línea.</p>
            <h4>¿En qué horario puedo hacer mi pago?</h4>
            <p>No existen restricciones de horario. Puedes pagar en cualquier día del año a cualquier hora.</p>
            <h4>Después de realizado el pago, ¿cuánto tiempo dispongo para solicitarlo?</h4>
            <p>Dispone de hasta diez días hábiles posteriores a la fecha de la operación bancaria para solicitar el trámite o servicio.</p>
            <h4>Después de realizado el pago, ¿cuánto tiempo dispongo para solicitarlo?</h4>
            <p>Comuníquese a la <a href="https://www.pjecz.gob.mx/conocenos/estructura/tribunal-superior-de-justicia/administrativos/oficialia-mayor/directorio-financieros/" target="_blank">Dirección de Recursos Financieros</a> para obtener información al respecto.</p>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-azul float-end m-3" onclick="history.back();" >Regresar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
