{% extends "layouts/app.jinja2" %}

{% block title %}Lamentablemente la operacion bancaria no fue exitosa{% endblock %}

{% block content %}
    <div>
        <h2>Lamentablemente la operacion bancaria no fue exitosa</h2>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
