{% extends "layouts/app.jinja2" %}

{% block title %}Su proceso de pago ha terminado con exito{% endblock %}

{% block content %}
    <div>
        <h2>Su proceso de pago ha terminado con exito</h2>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
