{% extends "layouts/app.jinja2" %}

{% block title %}Error 400{% endblock %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold mb-4">Error 400</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Solicitud errónea.</p>
            <p class="lead mb-4">{{ error }}</p>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
