{% extends "layouts/app.jinja2" %}

{% block title %}Error 500{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card mt-5 p-5">
                <img src="https://storage.googleapis.com/pjecz-informatica/static/images/pagos-pjecz.png" class="card-img-top">
                <div class="card-body">
                        <hr>
                        <h1 class="display-5 fw-bold mb-4">Error 500</h1>
                        <p class="lead mb-4"><strong>Error del servidor.</strong></p>
                        <p class="lead mb-4">{{ error }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
