{% extends "layouts/app.jinja2" %}

{% block title %}Portal de Pagos del PJECZ{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-8">

            <div class="card mt-5 p-5">
                <img src="https://storage.googleapis.com/pjecz-informatica/static/images/pagos-pjecz.png" class="card-img-top"  >
                <div class="card-body">
                        <hr>
                        <h1 class="display-5 fw-bold mb-4">Bienvenido</h1>
                        <p class="lead mb-4">Debe de entrar a la página del Trámites o Servicios y dar clic en el botón Portal de Pagos que le corresponde.</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <a href="https://www.pjecz.gob.mx/tramites-y-servicios/" class="btn btn-outline-secondary btn-lg px-4">Ir a Trámites y Servicios</a>
                        </div>
                        
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
